.flex {
  &-holder {
    display: flex !important
  }

  &-iholder {
    display: inline-flex !important
  }
}

.flex {
  $map: (
    row: row,
    rrow: row-revers,
    col: column,
    rcol: column-reverse
  );

  @each $mapk, $mapv in $map {
    &-dir_#{$mapk} {
      flex-direction: $mapv !important
    }
  }
}

.flex {
  $map: (
    a: space-around,
    b: space-between,
    c: center,
    e: flex-end,
    s: flex-start
  );

  @each $mapk, $mapv in $map {
    &-jc_#{$mapk} {
      justify-content: $mapv !important
    }
  }
}

.flex {
  $map: (
    wrap: wrap,
    nowrap: nowrap,
    rwrap: wrap-reverse
  );

  @each $mapk, $mapv in $map {
    &-#{$mapk} {
      flex-wrap: $mapv !important
    }
  }
}

.flex {
  $fdir: (
    row: row,
    rrow: row-reverse,
    col: column,
    rcol: column-reverse
  );

  $fwrap: (
    nowrap: nowrap,
    wrap: wrap,
    rwrap: wrap-reverse
  );

  &-flow {
    @each $fdirk, $fdirv in $fdir {
      @each $fwrapk, $fwrapv in $fwrap {
        &_#{$fdirk}_#{$fwrapk} {
          flex-flow: $fdirv $fwrapv !important
        }
      }
    }
  }
}

.flex {
  $ai: (
    st: stretch,
    c: center,
    b: baseline,
    s: flex-start,
    e: flex-end
  );

  @each $aik, $aiv in $ai {
    &-ai_#{$aik} {
      align-items: $aiv !important
    }
  }
}

.flex {
  $ac: (
    st: stretch,
    s: flex-start,
    e: flex-end,
    c: center,
    b: space-between,
    a: space-around
  );

  @each $ack, $acv in $ac {
    &-ac_#{$ack} {
      align-content: $acv !important
    }
  }
}

.flex {
  $map: (
    a: auto,
    s: flex-start,
    e: flex-end,
    c: center,
    b: baseline,
    st: stretch
  );

  @each $mapk, $mapv in $map {
    &-item_as_#{$mapk} {
      align-self: $mapv !important
    }
  }
}
