.ptz_input, .ptz_textarea {
  color: black;
  font-size: 15px;
  line-height: 18px;
  padding: 7px 10px;
  border-radius: 3px;
  vertical-align: top;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.ptz_input:disabled, .ptz_textarea:disabled {
  color: #eee;
  background: white;
  cursor: not-allowed;
}

.ptz_input:disabled:hover, .ptz_textarea:disabled:hover {
  color: #eee;
  background: white;
}
