# THIS FILE HAS TO BE OVERWRITTEN BY DEPLOY TOOL

# don't demonize in dev mode for Foreman
# daemonize yes

port 6010

dir /ABS/PATH/TO/Rails5App/db/REDIS
dbfilename redis_6010.rdb

loglevel debug
logfile /ABS/PATH/TO/Rails5App/log/redis.log
pidfile /ABS/PATH/TO/Rails5App/tmp/pids/redis.pid

save 60  1
