.flex-holder {
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-iholder {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.flex-dir_row {
  -ms-flex-direction: row !important;
      flex-direction: row !important;
}

.flex-dir_rrow {
  -ms-flex-direction: row-revers !important;
      flex-direction: row-revers !important;
}

.flex-dir_col {
  -ms-flex-direction: column !important;
      flex-direction: column !important;
}

.flex-dir_rcol {
  -ms-flex-direction: column-reverse !important;
      flex-direction: column-reverse !important;
}

.flex-jc_a {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.flex-jc_b {
  -ms-flex-pack: justify !important;
      justify-content: space-between !important;
}

.flex-jc_c {
  -ms-flex-pack: center !important;
      justify-content: center !important;
}

.flex-jc_e {
  -ms-flex-pack: end !important;
      justify-content: flex-end !important;
}

.flex-jc_s {
  -ms-flex-pack: start !important;
      justify-content: flex-start !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.flex-rwrap {
  -ms-flex-wrap: wrap-reverse !important;
      flex-wrap: wrap-reverse !important;
}

.flex-flow_row_nowrap {
  -ms-flex-flow: row nowrap !important;
      flex-flow: row nowrap !important;
}

.flex-flow_row_wrap {
  -ms-flex-flow: row wrap !important;
      flex-flow: row wrap !important;
}

.flex-flow_row_rwrap {
  -ms-flex-flow: row wrap-reverse !important;
      flex-flow: row wrap-reverse !important;
}

.flex-flow_rrow_nowrap {
  -ms-flex-flow: row-reverse nowrap !important;
      flex-flow: row-reverse nowrap !important;
}

.flex-flow_rrow_wrap {
  -ms-flex-flow: row-reverse wrap !important;
      flex-flow: row-reverse wrap !important;
}

.flex-flow_rrow_rwrap {
  -ms-flex-flow: row-reverse wrap-reverse !important;
      flex-flow: row-reverse wrap-reverse !important;
}

.flex-flow_col_nowrap {
  -ms-flex-flow: column nowrap !important;
      flex-flow: column nowrap !important;
}

.flex-flow_col_wrap {
  -ms-flex-flow: column wrap !important;
      flex-flow: column wrap !important;
}

.flex-flow_col_rwrap {
  -ms-flex-flow: column wrap-reverse !important;
      flex-flow: column wrap-reverse !important;
}

.flex-flow_rcol_nowrap {
  -ms-flex-flow: column-reverse nowrap !important;
      flex-flow: column-reverse nowrap !important;
}

.flex-flow_rcol_wrap {
  -ms-flex-flow: column-reverse wrap !important;
      flex-flow: column-reverse wrap !important;
}

.flex-flow_rcol_rwrap {
  -ms-flex-flow: column-reverse wrap-reverse !important;
      flex-flow: column-reverse wrap-reverse !important;
}

.flex-ai_st {
  -ms-flex-align: stretch !important;
      align-items: stretch !important;
}

.flex-ai_c {
  -ms-flex-align: center !important;
      align-items: center !important;
}

.flex-ai_b {
  -ms-flex-align: baseline !important;
      align-items: baseline !important;
}

.flex-ai_s {
  -ms-flex-align: start !important;
      align-items: flex-start !important;
}

.flex-ai_e {
  -ms-flex-align: end !important;
      align-items: flex-end !important;
}

.flex-ac_st {
  -ms-flex-line-pack: stretch !important;
      align-content: stretch !important;
}

.flex-ac_s {
  -ms-flex-line-pack: start !important;
      align-content: flex-start !important;
}

.flex-ac_e {
  -ms-flex-line-pack: end !important;
      align-content: flex-end !important;
}

.flex-ac_c {
  -ms-flex-line-pack: center !important;
      align-content: center !important;
}

.flex-ac_b {
  -ms-flex-line-pack: justify !important;
      align-content: space-between !important;
}

.flex-ac_a {
  -ms-flex-line-pack: distribute !important;
      align-content: space-around !important;
}
