= form_tag search_path, method: :get, enforce_utf8: false, class: 'search-form p20' do
  .mb20= text_field_tag :q, params[:q], placeholder: 'Search query', class: 'ptz_input ptz_size-18 w100p'
  = submit_tag 'Search', class: 'js-search-submit_btn ptz_btn ptz_size-18', autocomplete: false
