/*
  //= require ptz/reset
  //= require ptz/base
  //= require ptz/framework
  //= require ptz/inputs_buttons/all

  //= require notifications/base
  //= require crop_tool/jcrop/jquery.Jcrop

  //= require user_room/frontend/section_switcher
  //= require user_room/frontend/registration_accordion
  //= require user_room/frontend/user_room_header

  //= require user_room/shared/social_login_btn
  //= require user_room/shared/layout
*/
