.social_login_btn
  width:  60px
  height: 60px
  border-radius: 150px
  display: inline-block
  transition: opacity .3s ease
  opacity: .6

  color: white
  text-align: center

  font-size:   36px !important
  line-height: 60px !important

  &:hover
    opacity: 1
    color: white

  &-vk
    background: #2B587A
    padding-right: 2px

  &-ok
    background: #F6881F
    padding-left: 2px

  &-fb
    background: #3b5998
    padding-top: 1px

  &-tw
    background: #00aced
    padding-left: 4px
    padding-top: 1px

  &-gp
    background: #dd4b39
    padding-left: 8px
    padding-top: 1px

  &-linked
    opacity: 1
    box-shadow: 0 0 1px 0px #fff, 0 0 2px 2px #3d4c77

  &-unlink-holder
    position: relative

  &-unlink
    position: absolute
    top: -5px
    right: 0

  &-unlink-icon
    font-size: 16px
