.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
  height: 0 !important;
}

.visible {
  visibility: visible !important;
  height: auto !important;
}

.solid-0 {
  overflow: auto !important;
}

.solid-1 {
  border: 1px solid transparent !important;
}
