javascript:
  window.CONTENT_EDITOR = {
    'name': 'ckeditor',
    'config': {
      'base_path': '/vendor/ckeditor/ckeditor/',
      'language': '#{ I18n.locale }',
      'customConfig': '../custom/default_settings.js',
      'contentsCss': '/vendor/ckeditor/custom/default_settings.css'
    }
  }
