.ptz--size-10 {
  font-size: 10px;
  line-height: 13px;
  padding: 5px 8px;
}

.ptz--size-11 {
  font-size: 11px;
  line-height: 14px;
  padding: 6px 9px;
}

.ptz--size-12 {
  font-size: 12px;
  line-height: 15px;
  padding: 7px 10px;
}

.ptz--size-13 {
  font-size: 13px;
  line-height: 16px;
  padding: 8px 11px;
}

.ptz--size-14 {
  font-size: 14px;
  line-height: 17px;
  padding: 9px 12px;
}

.ptz--size-15 {
  font-size: 15px;
  line-height: 18px;
  padding: 10px 13px;
}

.ptz--size-16 {
  font-size: 16px;
  line-height: 19px;
  padding: 11px 14px;
}

.ptz--size-17 {
  font-size: 17px;
  line-height: 20px;
  padding: 12px 15px;
}

.ptz--size-18 {
  font-size: 18px;
  line-height: 21px;
  padding: 13px 16px;
}

.ptz--size-19 {
  font-size: 19px;
  line-height: 22px;
  padding: 14px 17px;
}

.ptz--size-20 {
  font-size: 20px;
  line-height: 23px;
  padding: 15px 18px;
}

.ptz--size-21 {
  font-size: 21px;
  line-height: 24px;
  padding: 16px 19px;
}

.ptz--size-22 {
  font-size: 22px;
  line-height: 25px;
  padding: 17px 20px;
}

.ptz--size-23 {
  font-size: 23px;
  line-height: 26px;
  padding: 18px 21px;
}

.ptz--size-24 {
  font-size: 24px;
  line-height: 27px;
  padding: 19px 22px;
}

.ptz--size-25 {
  font-size: 25px;
  line-height: 28px;
  padding: 20px 23px;
}
