/*
  //= require ptz/reset
  //= require ptz/base
  //= require ptz/framework
  //= require ptz/inputs_buttons/all
  //= require ptz/pagination/kaminari

  //= require notifications/base
  //= require app_theme/shared/layout
  //= require the_publication/shared/pubs
  //= require the_publication/shared/pub_content
*/
