$i: 10;

@while $i <= 1200 {
  .w#{$i} { width: #{$i}px !important }

  $i: $i + 5;
}

// p for `percent`

$i: 5;

@while $i <= 100 {
  .w#{$i}p { width: unquote("#{$i}% !important") }

  $i: $i + 5;
}
