input::-moz-placeholder {
  color: #ccc !important;
}

input:-ms-input-placeholder {
  color: #ccc !important;
}

input::-webkit-input-placeholder {
  color: #ccc !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent !important;
}
