.ptz_checkbox {
  display: none;
}

.ptz_checkbox + label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-left: 30px;
}

.ptz_checkbox + label:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -30px;
  width: 19px;
  height: 19px;
  border-radius: 5px;
  border: 4px solid lightgray;
}

.ptz_checkbox + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: -25px;
  width: 9px;
  height: 9px;
  border-radius: 2px;
}

.ptz_checkbox + label:hover:after {
  background-color: gray;
}

.ptz_checkbox:checked + label:after {
  background: black;
}

.ptz_checkbox:disabled + label {
  cursor: not-allowed;
}

.ptz_checkbox:disabled:not(:checked) + label:hover:after {
  background-color: transparent;
}
