.ptz_group .ptz_btn, .ptz_group .ptz_input {
  border-radius: 0;
}

.ptz_group .ptz_btn-first, .ptz_group .ptz_btn:first-child, .ptz_group .ptz_input-first, .ptz_group .ptz_input:first-child {
  margin-right: -1px;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ptz_group .ptz_btn-last, .ptz_group .ptz_btn:last-child, .ptz_group .ptz_input-last, .ptz_group .ptz_input:last-child {
  margin-left: -1px;
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
