javascript:
  window.CONTENT_EDITOR = {'name': 'code_mirror'}

= stylesheet_link_tag '/vendor/code_mirror/code_mirror/lib/codemirror', media: :all

css:
  .CodeMirror {
    font-size: 16px;
    line-height: 140%;
    border: 5px solid lightgray;
    border-radius: 3px;
  }
