- content_for :layout_assets do
    = stylesheet_link_tag    'user_room', media: :all, 'data-turbolinks-track' => true
    = javascript_include_tag 'user_room', 'data-turbolinks-track' => true

= render template: 'app_view/layouts/app_layout'